include ../_include/_variables
doctype html
html(dir='ltr', lang=config.SEO.seo_lang, itemscope, itemtype="http://schema.org/WebSite", prefix="og: http://ogp.me/ns#", class="no-js")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='format-detection', content='telephone=no')
		meta(name='msapplication-tap-highlight', content='no')
		<!-- ////////////// Mobile title color ////////////// -->
		meta(name='theme-color', content=config.SEO.mobile_color)
		meta(name='msapplication-navbutton-color', content=config.SEO.mobile_color)
		meta(name='apple-mobile-web-app-status-bar-style', content=config.SEO.mobile_color)
		title #{title || AppName} - Brand Designer and Web Developer
		link(href="https://fonts.googleapis.com" rel="preconnect")
		link(href="https://fonts.gstatic.com" rel="preconnect")
		//- link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet")
		//- link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700;900&display=swap" rel="stylesheet")
		//- link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet")
		//- link(href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700;900&display=swap" rel="stylesheet")
		//- link(href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet")
		include ../_include/_seo
		<!-- ////////////// CSS Include ////////////// -->
		include ../_include/_css
		block css
		<!-- ////////////// FAVICON ////////////// -->
		link(rel='apple-touch-icon', sizes='180x180', href=config.favicondist+'apple-touch-icon.png')
		link(rel='icon', type='image/png', href=config.favicondist+'favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href=config.favicondist+'favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href=config.favicondist+'manifest.json')
		link(rel='mask-icon', href=config.favicondist+'safari-pinned-tab.svg', color='#5bbad5')
		link(rel='shortcut icon', href=config.favicondist+'favicon.ico')
		meta(name='msapplication-TileColor', content=config.SEO.mobile_color)
		meta(name='msapplication-TileImage', content=config.favicondist+'mstile-144x144.png')
		meta(name='msapplication-config', content=config.favicondist+'browserconfig.xml')
		meta(name='theme-color', content='#ffffff')
	body#top-page.index-fullwidth(class=bodyclass+'-page' || 'default')
		
		<!-- ////////////// Header ////////////// -->
		include header
		<!-- ////////////// End Header ////////////// -->
		<!-- ////////////// Begin Main ////////////// -->
		main
			block body
		<!-- ////////////// End Main ////////////// -->
		<!-- ////////////// Footer ////////////// -->
		include footer
		
		<!-- ////////////// End Footer ////////////// -->
		<!-- ////////////// Javascript Include ////////////// -->
		include ../_include/_script
		block js

